<h1 class="title">Experimental Economics Game </h1>

<div id="game-container">
  <div id="menu-container">
    <ul id="menu">
      <li></li>
      <li id="status"></li>
      <li>
        <a href="#new-match" id="new-match" class="hidden button">NEW OPPONENT</a>
        <a href="#restart" id="restart" class="hidden button">RESTART</a>
      </li>
    </ul>
  </div>

</div>
<form id="inputformleader" style="display: none;">
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
  Input:
  <input id="inputbarleader" type="number" min="21" max="27" step=".4" value="21">
  <input id="submitbutton" type="submit" value="Submit">
</form>

  <form id="inputformfollower" style="display: none;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    Input:
    <input id="inputbarfollower" type="number" min="21" max="27" step=".4" value="21">
    <input id="submitbuttonfollower" type="submit" value="Submit">
  </form>


  <br><br><br>
  Opponent's Input: <p id="leadero"></p>
